<ion-content [fullscreen]="true" mode="ios">
  <br>
  <div id="header">
    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Registro Nuevo Usuario</ion-label>
    </ion-item>
  </div>
  <br>
  <div id="signup">
    <form id="form" [formGroup]="registerForm">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Correo electrónico*</ion-label>
        <ion-input #email type="email" placeholder="Dirección de correo electrónico" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Nombre*</ion-label>
        <ion-input #first_name type="text" placeholder="John" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Apellido*</ion-label>
        <ion-input #last_name type="text" placeholder="Velandia" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Grado escolar*</ion-label>
        <ion-select #school_grade placeholder="Seleccionar opción" interface="action-sheet">
          <ion-select-option *ngFor="let schoolGrade of schoolGrades" [value]="schoolGrade.id_grado_escolaridad">{{schoolGrade.nombre_grado_escolaridad}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Categoría*</ion-label>
        <ion-select #category_user placeholder="Seleccionar opción" interface="action-sheet">
          <ion-select-option *ngFor="let categoryUser of categoryUsers" [value]="categoryUser.id_categoria_usuario">{{categoryUser.nombre_categoria_usuario}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Contraseña*</ion-label>
        <ion-input #password [type]="showPassword ?
          'text' : 'password'" placeholder="Password"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIcon"
          (click)="togglePassword()"></ion-icon>
      </ion-item>
      <div id="login">
        <ion-item class="ion-no-padding">
          <h1>Usa 8 o más caracteres con una combinación de letras, números y símbolos</h1>
        </ion-item>
      </div>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Confirmar contraseña*</ion-label>
        <ion-input #confirm_password [type]="showPasswordTwo ?
          'text' : 'password'" placeholder="Password"></ion-input>
        <ion-icon slot="end" [name]="passwordToggleIconTwo"
          (click)="togglePasswordTwo()"></ion-icon>
      </ion-item>
      <div id="login">
        <ion-item class="ion-no-padding">
          <h1>Usa 8 o más caracteres con una combinación de letras, números y símbolos</h1>
        </ion-item>
      </div>
      <ion-item class="ion-no-padding">
        <ion-checkbox #accept_term_conditions checked="false" (ionChange)="acceptTermConditions($event)"></ion-checkbox>
        <ion-label class="inform" text-wrap (click)="acceptTermConditions($event)">
          Acepto los términos de servicio y políticas de privacidad.
        </ion-label>
      </ion-item>
      <ion-button expand="block" (click)="registerUser(email,first_name,last_name,school_grade,category_user,password,confirm_password,accept_term_conditions)" >Continuar</ion-button>
    </form>
  </div>
</ion-content>