<ion-content [fullscreen]="true" mode="ios">
  <br><br><br>
  <div id="header">
    <img src="assets/img/forgot_password.png" />
    <h1>¿Olvidaste tu contraseña?</h1>
  </div>
  <div id="login">
    <ion-item class="ion-no-padding">
      <h1>Ingrese su correo electrónico a continuación para restablecer la contraseña</h1>
    </ion-item>
  </div>
  <form id="form">
    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input #email type="email" placeholder="ejemplo@email.com" required></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="forgotPassword(email)">Continuar</ion-button>
  </form>
  <div id="footer">
    <ion-item class="ion-no-padding">
      <ion-label>¿Recuerdas tus credenciales?&nbsp;</ion-label>
      <a routerLink="/login">Iniciar sesión</a>
    </ion-item>
  </div>
</ion-content>